.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-areas: "top-left . top-right" "left content right" "bottom-left . bottom-right";
}

.grid-content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 56, 56);
  /*border-top: solid 6px #F22F46;*/
  /*border-bottom: solid 6px #F22F46;*/
}

.grid-left {
  grid-area: left;
  background: linear-gradient(to left, rgb(56, 56, 56) 0, transparent 100%);
  /*border-top: solid 6px #F22F46;*/
  /*border-bottom: solid 6px #F22F46;*/
}

.grid-right {
  grid-area: right;
  background: linear-gradient(to right, rgb(56, 56, 56) 0, transparent 100%);
  /*border-top: solid 6px #F22F46;*/
  /*border-bottom: solid 6px #F22F46;*/
}

.grid-top-left,
.grid-top-right,
.grid-bottom-left,
.grid-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-top-left {
  grid-area: top-left;
}

.grid-top-right {
  grid-area: top-right;
}

.grid-bottom-left {
  grid-area: bottom-left;
}

.grid-bottom-right {
  grid-area: bottom-right;
}

.img-fluid {
  max-width: 10% !important;
  margin-right: 17% !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 64px;
  margin-top: 20px;
}

.mat-toolbar {
  background: #ffffff;
  color: #0452a5;
}

.example-spacer {
  flex: 1 1 auto;
}

.center {
  margin: auto;
  padding: 10px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 35px;
  width: 20px;
}
