:host,
#preview,
video {
  height: 85% !important;
  margin: 1rem;
  position: relative;

}

#preview {
  border: solid 2px #007bff;
  background-color: rgb(38, 38, 38);
  position: relative;
}

.float-button {
  float: right;
  width: 83%;
  margin-right: 0px;
  font-size: 12px;
  height: 625px;
  overflow: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.example-card {
  max-width: 400px;
  margin-left: 2rem;
}

.mat-card-header .mat-card-title {
  font-size: 30px;
}

.mat-card {
  background: #fff;
  color: rgba(0,0,0,.87);
  margin-left: 2rem;
  border: solid 2px #0452a5;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  width: 24px;
  height: 35px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mat-toolbar {
  background: #ffffff;
  color: #0452a5;
}

.float-buttom {
  position: absolute;
  bottom: 1rem;
  left: 30%;
  width: auto;
  height:auto;
}

.center {
  margin: auto;
  padding: 10px;
}



.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #ffffff;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  color: #0c0000;
}


.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
